.pokemons {
  display: flex;
  flex-direction: column;
  align-items: center;

}

button {
  margin: 5px;
  padding: 10px;
  background-color: rgba(216, 129, 129, 0.342);
}

.next {
  background-color: rgba(129, 216, 141, 0.342);
}

.disable:disabled {
  background-color: rgba(83, 83, 83, 0.884);
}