.pokemons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 800px) {
  .pokemons {
    width: 400px;
    justify-content: center;
  }
}